/AnnotationClient$LineParser$ManualDatasetLineParser.class
/AnnotationClient$LineParser$OccTSVLineParser.class
/AnnotationClient$LineParser.class
/AnnotationClient.class
/DBpediaSpotlightClient.class
/JsonParser.class
/SearchData.class
/SearchResults.class
